SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/stackoverflow_db
SPRING_DATASOURCE_USERNAME=stackoverflow_user
SPRING_DATASOURCE_PASSWORD=stackoverflow_password

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_CONSUMER_GROUP_ID=stackoverflow-api-local
STACKOVERFLOW_EVENTS_TOPIC=stackoverflow.events
APP_KAFKA_ENABLED=true

APP_SEARCH_ENABLED=true
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=stackoverflow_questions
