FRONTEND_PORT=80
KAFKA_UI_PORT=8085

MYSQL_DATABASE=stackoverflow_db
MYSQL_USER=stackoverflow_user
MYSQL_PASSWORD=change_this_password
MYSQL_ROOT_PASSWORD=change_this_root_password

ES_JAVA_OPTS=-Xms512m -Xmx512m
